*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy;
    color: white;
}

html,body{
    height: 100%;
    width: 100%;
}

.main{
    background-color: #0f0d0d;
    cursor: pointer;
}

/* ------------------------ Cursor Styling ------------------------------- */
.cursor{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: fixed;
    background-color: #edbfff;
    z-index: 9;
    mix-blend-mode: difference;
    transition: all linear 0.15s;
    background-position: center;
    background-size: cover;
}

.video-hovering{
    height: 25px;
    width: 100px;
    border-radius: 20px;
    z-index: 9;
    transition: all ease 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    &:before{
        content: "Sound On";
        mix-blend-mode: difference;
    }
}

#purple{
    height: 100vh;
    width: 100vw;
    top: 0;
    position: fixed;
    z-index: 100;
    background-color: #EDBFFF;
    opacity: 0;
    display: none;
}

#nav{
    height: 55px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: fixed;
    mix-blend-mode: difference;
    z-index: 102;
}

#nav img{
    height: 24px;
}

#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22px;
}

#circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: purple;
}

#nav h4{
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

#nav h4:nth-child(1){
    border-bottom: 1.5px solid white;
}

/* ------------------------ Page 1 Styling ------------------------------- */
.page1{
    min-height: 100vh;
    width: 100vw;
    padding-top: 12vw;
}

.page1 h1{
    font-size: 8vw;
    font-family: PP mori;
    font-weight: 400;
    margin-left: 8vw;
}

.page1 h2{
    font-size: 8vw;
    font-family: PP mori;
    font-weight: 400;
    margin-left: 28vw;
}

.page1 video{
    width: 60%;
    margin-top: 10vw; 
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* ------------------------ Page 2 Styling ------------------------------- */
.page2{
    min-height: 110vh;
    width: 100vw;
    border-bottom: 2px solid #bdbaba;
}

.page2 h1{
    font-size: 8vw;
    font-weight: 500;
    color: black;
    padding: 100px 8vw;
}

.page2-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8vw;
    height: 60vh;
    width: 100%;
    /* background-color: red; */
}

.page2-left{
    /* background-color: blue; */
    width: 38%;
}

.page2-right{
    /* background-color: blue; */
    width: 24%;
}

.page2-left h2{
    font-size: 4vw;
    font-weight: 300;
    color: black;
    line-height: 4vw;
}

.page2-right p{
    font-size: 26px;
    color: black;
}

.page2-right button{
    width: 100%;
    border-radius: 50px;
    border: none;
    padding: 4px 0;
    background-color: #edbfff;
    color: black;
    margin-top: 28px;
    font-size: 16px;
    font-weight: 500;
}

/* ------------------------ Page 3 Styling ------------------------------- */
.page3{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 90px 0px;
    border-bottom: 2px solid #bdbaba;
}

.page3 h1{
    font-size: 8vw;
    font-weight: 300;
    color: black;
    margin-left: 100px;
}

.page3-part1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.page3-part1 img{
    height: 550px;
    width: 750px;
    margin-top: 280px;
}

.page3-part1 video{
    width: 600px;
    height: 400px;
    position: relative;
    margin-top: 20px;
    margin-right: 50px;
}

.page3-part2{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 40px;
}

.page3-part2 img{
    height: 530px;
    width: 480px;
    margin-top: 80px;
    margin-right: 45px;
}

.page3-part2 video{
    margin-top: 230px;
}

.page3-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 60px;
}

.heading h1{
    font-size: 4.5vw;
    text-transform: uppercase;
}

.discover{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    background-color: #edbfff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
    color: black;
    transition: all ease 0.3s;
}

.discover:hover{
    color: white;
    background-color: black;
}

/* ------------------------ Page 4 Styling ------------------------------- */
.page4{
    min-height: 100vh;
    width: 100%;
    /* background-color: red; */
    padding: 100px;
    margin-top: 6vh;
    border-bottom:1px solid #bdbaba;
}

.elem{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.elem img{
    position: absolute;
    opacity: 0;
    transform: translateY(10%) rotate(3deg);
    transition: all linear 0.3s;
}

.elem img:nth-child(1){
    left: -5%;
}

.elem img:nth-child(3){
    right: -2%;
}

.elem h1{
    font-size: 7.3vw;
    transition: all linear 0.5s;
    z-index: 99;
    font-size: 8.7vw;
}

.elem:hover h1{
    transform: translateY(-100%);
    color: #edbfff;
    z-index: 99; 
}

.elem:hover img{
    opacity: 1;
    transform: translateY(0) rotate(0);
}

.text-div{
    height: 150px;
    overflow: hidden;
    z-index: 10;
    margin-bottom: 0;
}

#img-1{
    margin-top: 2px;
    left: 15%;
    width: 280px;
    height: 350px;
    
}

#img-2{
    margin-top: 450px;
    right: 6%;
    width: 420px;
    height: 300px;
}

#img-3{
    margin-top: 450px;
    left: 15%;
    height: 320px;
    width: 280px;
}

#img-4{
    margin-top: -140px;
    right: 10%;
    height: 380px;
    width: 340px;
}

#img-5{
    margin-top: -500px;
    width: 400px;
    height: 280px;
    left: 6.2%;
}

/* ------------------------ Page 5 Styling ------------------------------- */
.page5{
    min-height: 100vh;
    width: 100%;
    padding: 80px 100px;
    position: relative;
    z-index: 9;
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.page5 h2{
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 30px;
}

.box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #dadada;
    height: 70px;
    padding: 0 20px;
}

.box:nth-last-child(1){
    border-bottom: 2px solid #dadada;
}

.box h3{
    font-size: 1.5vw;
    color: #bdbaba;
}

.box h4{
    font-size: 1.5vw;
    color: #bdbaba;
}

.box:hover h3{
    color: white;   
}

.box:hover h4{
    color: white;
}


/* ------------------------ Page 6 Styling ------------------------------- */
.page6{
    position: relative;
    height: 105vh;
    width: 100%;
    background-color: #edbfff;
    z-index: 1;
}

.page6-upper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 0px 100px; */
    padding: 200px 0px;
}

.page6 h1{
    color: black;
    font-size: 8vw;
    font-weight: 500;
    letter-spacing: 5px;
}

.get-in-touch{
    color: #0f0d0d;
    background-color: white;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.get-in-touch:hover{
    color: white;
    background-color: #0f0d0d;
    transition: all ease 0.5s;
}

.page6-bottom{
    margin-left: 90px;
}

.page6-bottom h3{
    font-size: 1.8vw;
    color: #0f0d0d;
    font-weight: 300;
}
